<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rewrite Next.js static files -->
        <rule name="NextJSStaticFiles" stopProcessing="true">
          <match url="^_next/(.*)$" />
          <action type="Rewrite" url="_next/{R:1}" />
        </rule>
        <!-- Rewrite Public Files -->
        <rule name="NextJSPublicFiles" stopProcessing="true">
          <match url="^(.*\.(js|css|png|jpg|gif|ico|woff|woff2|ttf|eot|svg|json|txt))$" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <!-- Redirect all other requests to server.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCommandLine="node.exe"
      debuggingEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
  </system.webServer>
</configuration>
